#RHN Info
vault_rhn_user: rhnuser
vault_rhn_pwd: redhat
vault_rhn_pool_name: Subscription Pool Name
#IDM
vault_idm_dm_pwd: Redhat1234
vault_idm_admin_user: admin
vault_idm_admin_pwd: Redhat1234
#RHOSP Director
vault_stack_user_pwd: $1$236622kj$Sry1xEJvGQkIYI5dgF.tF.
vault_undercloud_admin_user: admin
vault_undercloud_admin_pwd: redhat
#RHOSP Overcloud
vault_osp_user: operator
vault_osp_pwd: redhat
#CloudForms
vault_cf_db_pass: redhat
vault_cf_ssh_pass: smartvm
#OCP
vault_ocp_user: admin
vault_ocp_pass: redhat
#Tower
vault_tower_pass: redhat
