#!/usr/bin/env bash

openstack overcloud container image prepare \
  --namespace="registry.access.redhat.com/rhosp{{ versions.rhosp }}" \
  --prefix=openstack- \
{% if docker_latest is defined and docker_latest.stdout is defined%}
  --tag="{{ docker_latest.stdout }}" \
{% elif disconnected.docker is defined and disconnected.docker.latest_tag is defined %}
  --tag="{{ disconnected.docker.latest_tag }}" \
{% endif -%} 
{% for services in rhosp_director.optional_docker_services %}
  -e {{ services }} \
{% endfor %}
{% if rhosp_director.ceph_enabled | bool %}
{% if rhosp_director.ceph_namespace != None %}
  --set  ceph_namespace={{ rhosp_director.ceph_namespace }} \
{% endif %}
{% if rhosp_director.ceph_image != None %}
  --set  ceph_image={{ rhosp_director.ceph_image }} \
{% endif %}
{% if rhosp_director.ceph_tag != None %}
  --set  ceph_tag={{ rhosp_director.ceph_tag }} \
{% endif %}
{% endif %}
  --output-images-file /home/stack/local_registry_images.yaml
