DEVICE="eth0"
BOOTPROTO="static"
BOOTPROTOv6="none"
ONBOOT="yes"
TYPE="Ethernet"
USERCTL="yes"
PEERDNS="yes"
IPV6INIT="yes"
IPADDR={{ vmenator.vms.repos.nics[0].ip}}
PREFIX=24
GATEWAY={{ networks.external.gateway }}
DNS1={{ dns_server_local }}
