DEVICE="eth1"
BOOTPROTO="static"
BOOTPROTOv6="none"
ONBOOT="yes"
TYPE="Ethernet"
USERCTL="yes"
PEERDNS="yes"
DEFROUTE="yes"
IPV6INIT="yes"
IPADDR=172.16.11.16
PREFIX=24
GATEWAY=172.16.11.1
DNS1=172.16.11.15
