# Create an OSEv3 group that contains the masters and nodes groups
[OSEv3:children]
masters
etcd
nodes

# Set variables common for all OSEv3 hosts
[OSEv3:vars]
# SSH user, this user should allow ssh based auth without requiring a password
ansible_ssh_user={{ ssh_user }}
ansible_ssh_common_args='-o StrictHostKeyChecking=no'
openshift_metrics_cassandra_nodeselector={'region': 'infra'}
openshift_metrics_hawkular_nodeselector={'region': 'infra'}
openshift_metrics_heapster_nodeselector={'region': 'infra'}
openshift_logging_es_nodeselector={'region': 'infra'}
openshift_logging_curator_nodeselector={'region': 'infra'}
openshift_logging_kibana_nodeselector={'region': 'infra'}

# If ansible_ssh_user is not root, ansible_become must be set to true
ansible_become=true

openshift_deployment_type=openshift-enterprise

# uncomment the following to enable htpasswd authentication; defaults to DenyAllPasswordIdentityProvider
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filename': '/etc/origin/master/htpasswd'}]

# host group for masters
[masters]
{{ hostvars[groups['master'][0]]['ansible_fqdn'] }}

[etcd]
{{ hostvars[groups['master'][0]]['ansible_fqdn'] }}


# host group for nodes, includes region info
[nodes]
{{ hostvars[groups['master'][0]]['ansible_fqdn'] }}
{{ hostvars[groups['infra'][0]]['ansible_fqdn'] }}  openshift_node_labels="{'region': 'infra', 'zone': 'default'}"
{% for host in groups['node'] %}
{{ hostvars[host].ansible_fqdn }}  openshift_node_labels="{'region': 'primary', 'zone': 'default'}"
{% endfor %}
